{% extends "base.html" %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'deps/styles/quizes/catalog.css' %}">
{% endblock %}

{% block title %}
    <title>Список тестов</title>
{% endblock %}

{% block content %}
    <section class="catalog__section">
        <div class="container catalog__container">
            {% for category in categories %}
                <div class="category-section"><h2>{{ category.name }}</h2>
                    <ul class="cards">
                        {% for quiz in category.tests.all %}
                            <li class="card card_img">
                                <div class="card__wrap">
                                    <h3 class="card__title">
                                        <a href="{% url 'quizes:quiz' quiz.slug %}" class="card__link">{{ quiz.title }}</a>
                                    </h3>
                                </div>
                            </li>
                        {% empty %}
                            <p>Нет тестов в категории {{ category.name }}.</p>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}



